<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/images/目的地アイコン1.ico">
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/commonCustom.js"></script>
  <script type="text/javascript" src="/javascripts/compCustom.js"></script>
</head>

<body>

  <header>
    <div class="header-measure">
      <div class="header-logo">
        <a href="/"><img src="/images/title.jpg" alt=""></a>
      </div>
      <div class="header-nav">
        <nav class="nav">
          <ul>
            <li class="comUser"><a href="/"><span class="comUser" hidden>ホーム</span></a></li>
            <li class="nonUser"><a href="/general"><span class="nonUser" hidden>会員登録</span></a></li>
            <li class="nonUser"><a href="/regist"><span class="nonUser" hidden>法人登録</span></a></li>
            <li class="nonUser"><a href="/login"><span class="nonUser" hidden>ログイン</span></a></li>
            <li class="copUser"><a href="/form"><span class="copUser" hidden>ホテル新規登録</span></a></li>
            <li class="copUser"><a href="/hotelList"><span class="copUser" hidden>ホテル一覧</span></a></li>
            <li class="genUser"><a href="/reserveList"><span class="genUser" hidden>予約確認</span></a></li>
            <li class="comUser"><a href="/?page=logout"><span class="comUser" hidden>ログアウト</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <h1 class="fadeUp1"><%= title %></h1>


</body>

</html>
