<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/commonCustom.js"></script>
  <script type="text/javascript" src="/javascripts/compCustom.js"></script>
</head>

<body>
  <h1><%= title %></h1>

  <div><a id="index_link" href="">ホテル検索はこちら</a></div>
  <div class="nonUser"><a id="login_link" href="">ログイン</a></div>
  <div class="nonUser"><a id="regist_link" href="">会員登録はこちら</a></div>
  <div class="regUser"><a id="form_link" href="">ホテルのマップ情報登録はこちら</a></div>

</body>

</html>
